<body>
    <div class="header">
        <div class="descriptionHeader">
            <p style="font-size: xx-large;">Que perigos podemos encontrar?</p>
            <p style="font-size: medium;">Você sabe quais são as abordagens que golpistas podem usar pra tentar te
                passar pra trás?</p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div>
                <h1 class="titles">Phishing e suas variantes</h1>
                <p> O termo Phishing pode ser associado como uma pescaria, trata-se de jogar "iscas" por diferentes
                    métodos, esperando que a vitima seja fisgada pela curiosidade, medo ou ganância.
                </p>
                <p class="paragraph">
                    <b>Como funciona:</b> O golpista envia e-mails, mensagens de texto ou até mesmo mensagens em
                    redes sociais se passando por uma instituição confiável (bancos, empresas de serviços, etc.) para
                    coletar
                    informações pessoais, como senhas, números de cartão de crédito ou dados bancários. Esse é o tipo
                    mais comum de abordagem para realizar um golpe pois muitas vezes uma simples mensagem se passando
                    por alguém ja é suficiente para ganhar a confiança da vítima.
                </p>
                <p>
                    <b>Exemplo:</b> Um e-mail falso que parece ser de um banco pedindo para "verificar sua conta" e
                    inserir dados confidenciais em um site falso.
                </p>
                <p>
                    Além do phishing, existem algumas denominações para abordagens mais específicas como o <b>Vishing
                        (Voice Phishing)</b> que são abordagens realizadas por telefone em que o golpista se passa por
                    uma instituição confiável, como banco ou empresa, para coletar dados confidenciais. E também o
                    <b>Smishing(SMS Phishing)</b> que tem o mesmo objetivo mas a abordagem é feita por mensagens sms ou
                    aplicativos como Whatsapp e outros.
                </p>
            </div>


            <div>
                <h1 class="titles">Clonagem de Cartão</h1>
                <p>
                    <b>Como funciona:</b> O criminoso captura os dados do cartão de crédito ou débito da vítima e
                    realiza
                    transações fraudulentas.
                </p>
                <p>
                    <b>Exemplo:</b> Um site falso pede informações de pagamento e as utiliza para realizar compras sem a
                    autorização da vítima.
                </p>
            </div>
            <div>
                <h1 class="titles">Furto de Identidade</h1>
                <p>
                    <b>Como funciona:</b> Os criminosos coletam dados pessoais da vítima (nome, CPF, endereço, etc.)
                    para abrir
                    contas em seu nome ou realizar transações financeiras.
                </p>
                <p>
                    <b>Exemplo:</b> Um criminoso obtém informações pessoais através de phishing ou vazamentos de dados e
                    usa
                    para
                    abrir uma linha de crédito ou fazer empréstimos.
                </p>
            </div>

            <div>
                <h1 class="titles">Golpes em Redes Sociais</h1>
                <p> <b>Como funciona:</b> Os criminosos se aproveitam das redes sociais para enganar os usuários, seja
                    por meio
                    de
                    perfis falsos, sorteios fraudulentos ou promoções falsas.</p>
                <p>
                    <b>Exemplo:</b> Um link em uma rede social promete um prêmio, mas ao ser clicado, solicita dados
                    pessoais
                    ou
                    direciona para um site falso que instala malware.
                </p>
            </div>
            <div>
                <h1 class="titles">Softwares maliciosos</h1>
                <p>
                    Sofwares (ou "programas de computador") maliciosos, também conhecidos como malware, podem ser usados
                    para atingir e criptografar dados e arquivos em um dispositivo além de promover acessos para hackers
                    invadirem um sistema,
                    assim podendo controlar um dispositivo remotamente e ter acesso a recursos como microfone e camêra.
                    <br><br>
                    Exemplos desses softwares são os Ramsonwares, Scarewares e Spywares
                </p>
            </div>
            <div>
                <h5 class="subtitle">Ramsonware</h5>
                <p>
                    <b>Como funciona:</b> Um software ou normalmente conhecido como "programa de
                    computador" malicioso é
                    instalado no dispositivo da vítima e criptografa seus
                    arquivos, tornando-os inacessíveis. O criminoso exige um pagamento em criptomoeda para liberar os
                    arquivos.
                </p>
                <p>
                    <b>Exemplo:</b> Um pop-up aparece no computador avisando que seus arquivos estão bloqueados, e só
                    será
                    possível desbloqueá-los após pagar um resgate em Bitcoin.
                </p>
            </div>
            <div>
                <h5 class="subtitle">Scareware</h5>
                <p> <b>Como funciona:</b> O criminoso cria um alerta falso, geralmente dizendo que o
                    dispositivo da
                    vítima está
                    infectado por vírus, e oferece um software para "consertar" o problema, que na verdade é um malware
                    .
                </p>
                <p>
                    <b>Exemplo:</b> Um pop-up aparece dizendo que o computador está cheio de vírus e oferece um download
                    "necessário" para eliminar os supostos problemas, mas na realidade instala malware.
                </p>
            </div>
            <div>
                <h5 class="subtitle">Spyware</h5>
                <p>
                    <b>Como funciona:</b> Softwares maliciosos são instalados no dispositivo da vítima, sem o
                    seu
                    conhecimento,
                    com
                    o objetivo de roubar informações, monitorar atividades ou danificar sistemas.
                </p>
                <p>
                    <b>Exemplo:</b> Um aplicativo malicioso que coleta informações de navegação, senhas ou até mesmo
                    ativa a
                    câmera
                    do dispositivo sem a permissão do usuário.
                </p>
            </div>
            <div>
                <h1 class="titles">Fraude em Compras Online</h1>
                <p>
                    <b><b>Como funciona:</b></b> Sites falsos ou de terceiros comprometidos oferecem produtos a preços
                    atrativos, mas
                    após
                    o pagamento, o produto não é enviado ou a mercadoria recebida é diferente do anunciado.
                </p>
                <p>
                    <b>Exemplo:</b> Comprar um item muito barato em um site desconhecido, e nunca receber o produto ou
                    receber
                    algo
                    de qualidade inferior.
                </p>
            </div>
            <div>
                <h1 class="titles">Golpes de Investimento</h1>
                <p>
                    <b>Como funciona:</b> O golpista se faz passar por um "especialista em investimentos" e convence a
                    vítima a
                    investir dinheiro em esquemas fraudulentos, como criptomoedas ou ações que não existem.
                </p>
                <p>
                    <b>Exemplo:</b> Um e-mail ou mensagem em redes sociais promete retornos altíssimos com investimentos
                    em
                    criptomoedas, mas na verdade é uma armadilha para roubo de dinheiro.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        Sobre
                    </h5>
                    <p>
                        Essa é uma plataforma de conscientização, pensada a partir de um projeto de conclusão de curso
                        de ciências da computação, com o
                        intuito de ajudar a população brasileira a se conscientizar sobre os perigos dos golpes na
                        internet.
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        Contato
                    </h5>
                    <p>
                        Para contato envie um email para platcon&#64;gmail.com
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        informações
                    </h5>
                    <p>
                        Criado em 09/2023.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="descriptionHeader">
                        PlatCON 2024
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script crossorigin="anonymous" integrity="sha384-oBqDVmMz4fnFO9gybBogGzOgQpeKBmBin5e1m6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js">
        </script>
    <script crossorigin="anonymous" integrity="sha384-pZfHC6D4h2s5Qd3yY4p6FZ+f5ZL5p6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
        </script>
</body>