<!-- registry.component.html -->
<div class="container">
  <h1>Registries</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Navegador</th>
        <th>Horário de Acesso</th>
        <th>Tipo de Aparelho</th>
        <th>Origem de Acesso</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registry of registries">
        <td>{{ registry.id }}</td>
        <td>{{ registry.navegador }}</td>
        <td>{{ registry.horarioAcesso}}</td>
        <td>{{ registry.tipoAparelho }}</td>
        <td>{{ registry.origemAcesso }}</td>
        <td>
          <button (click)="updateRegistry(registry)">Edit</button>
          <button (click)="deleteRegistry(registry.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <form [formGroup]="registryForm">
    <label>Navegador:</label>
    <input formControlName="navegador"><br><br>
    <label>Horário de Acesso:</label>
    <input formControlName="horarioAcesso"><br><br>
    <label>Tipo de Aparelho:</label>
    <select formControlName="tipoAparelho">
      <option *ngFor="let tipo of EnumTipoAparelho">{{ tipo }}</option>
    </select><br><br>
    <label>Origem de Acesso:</label>
    <select formControlName="origemAcesso">
      <option *ngFor="let origem of EnumOrigemAcesso">{{ origem }}</option>
    </select><br><br>
    <button (click)="createRegistry()">Create</button>
  </form>
</div>