<body>
    <div class="header">
        <div class="subtitle">
            Ops, você quase caiu em um
        </div>
        <div class="golpe-container">
            <span class="letter">G</span>
            <span class="letter">O</span>
            <span class="letter">L</span>
            <span class="letter">P</span>
            <span class="letter">E</span>
            <span class="letter">!</span>
          </div>

        <div class="descriptionHeader">
            <p>Mas fique tranquilo(a), aqui você vai aprender como evitar isso.</p>
            <p>Que tal começar vendo um video explicando algumas coisas básicas?</p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="descriptionHeader" style="text-align: center;">
                <p>Notícias e artigos relacionados</p>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="meta">
                        Poder360
                        <br />
                        14 de agosto de 2024
                    </div>
                    <img alt="Image of a beer bottle and a book" height="200" width="300" />
                    <h5>
                        <a href="https://www.poder360.com.br/seguranca-publica/brasil-tem-mais-de-4-600-tentativas-por-hora-de-golpe-por-telefone/">Brasil tem mais de 4.600 tentativas por hora de golpe por telefone</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="meta">
                        Exame
                        <br />
                        11 de julho de 2023
                    </div>
                    <img alt="Image of a bottle with a label" height="200"
                        src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-VopBqOPcHuYQTfNVaVsIT0Si.png?st=2024-09-25T22%3A09%3A07Z&amp;se=2024-09-26T00%3A09%3A07Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-25T19%3A14%3A24Z&amp;ske=2024-09-26T19%3A14%3A24Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=bds5Db2t4ZbX2m/MnxUyzuXGWaCI3MQJbJaAgOsedBI%3D"
                        width="300" />
                    <h5>
                        <a href="https://exame.com/future-of-money/r-103-bilhoes-roubados-brasil-e-o-2o-pais-que-mais-sofre-crimes-ciberneticos-na-america-latina/">R$ 103 bilhões roubados: Brasil é o 2º país que mais sofre crimes cibernéticos na América Latina</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="meta">
                        Cultura
                        <br />
                        26 de março de 2024
                    </div>
                    <img alt="Image of typography art" height="200"
                        src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-UcOyLeEniUdtaqVYPwpEprq1.png?st=2024-09-25T22%3A09%3A06Z&amp;se=2024-09-26T00%3A09%3A06Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-25T19%3A26%3A25Z&amp;ske=2024-09-26T19%3A26%3A25Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=MgV2dqt4qGpsiu/jqU7dCbpNkeWD0YVNOaIFxX8J13k%3D"
                        width="300" />
                    <h5>
                        <a href="https://cultura.uol.com.br/noticias/65207_80-brasileiros-afirmam-que-ja-sofreram-algum-tipo-de-golpe-cibernetico-aponta-pesquisa.html">80% dos brasileiros afirmam que já sofreram algum tipo de golpe cibernético, aponta pesquisa</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="meta">
                        Jefferson David dos Anjos Silva
                        <br />
                        Maria Vitória Ribas de Oliveira Lima
                        <br />
                        Universidade de Pernambuco

                    </div>
                    <img alt="Image of a phone case with a design" height="200"
                        src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-ieJEFQe04x8usoTs9jS5yfR0.png?st=2024-09-25T22%3A09%3A06Z&amp;se=2024-09-26T00%3A09%3A06Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-25T19%3A11%3A47Z&amp;ske=2024-09-26T19%3A11%3A47Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=w%2BmblOKNy46DN%2BbSbswR9bG1EqOrHvRmwG6soV5XX4U%3D"
                        width="300" />
                    <h5>
                        <a href="https://www.editorarealize.com.br/editora/anais/conedu/2018/TRABALHO_EV117_MD1_SA19_ID7393_13082018131829.pdf">OS PRINCIPAIS CIBERCRIMES PRATICADOS NO BRASIL
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="meta">
                        Fabiana Zacarias
                        <br />
                        Lucas Zacharias Freire
                    </div>
                    <img alt="Image of a keyboard" height="200"
                        src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-y69HbmZmjiz7C78bPaqLWniU.png?st=2024-09-25T22%3A09%3A09Z&amp;se=2024-09-26T00%3A09%3A09Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-25T19%3A08%3A48Z&amp;ske=2024-09-26T19%3A08%3A48Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=00R9p1JOG%2BEySRh3JOPRhEWoe6fxNMQM6FeSX/32Od4%3D"
                        width="300" />
                    <h5>
                        <a href="https://estacio.periodicoscientificos.com.br/index.php/juresvitoria/article/view/1537/1628">CRIMES VIRTUAIS: ANÁLISE DAS DIFICULDADES E LIMITAÇÕES AO COMBATE</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="meta">
                        REVISTA OBSERVATORIO DE LA ECONOMIA LATINOAMERICANA
                        <br />
                        Matheus Santos Guedes
                        <br />
                        Reni Aparecido Norberto Pinto
                        <br />
                        Reinaldo Antônio Bastos Filho
                        <br />
                        Pedro Henrique Nascimento
                        <br />
                        Davi Lemos Reis
                    </div>
                    <img alt="Image of a woman with marketing materials" height="200"
                        src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-x6k6QUBE5aLUhlyy2XOPyj7o.png?st=2024-09-25T22%3A09%3A09Z&amp;se=2024-09-26T00%3A09%3A09Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-25T23%3A09%3A09Z&amp;ske=2024-09-26T23%3A09%3A09Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=Oa74HlXYbLlKXDP2jLOupNGpAdLBafnWRQnPGvDp1Jk%3D"
                        width="300" />
                    <h5>
                        <a href="https://ojs.observatoriolatinoamericano.com/ojs/index.php/olel/article/view/1293/1034">Crimes e golpes virtuais: desafios enfrentados pelos idosos na era tecnológica</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>
                        Sobre
                    </h5>
                    <p>
                        Essa é uma plataforma de conscientização, pensada a partir de um projeto de conclusão de curso
                        de ciências da computação, com o
                        intuito de ajudar a população brasileira a se conscientizar sobre os perigos dos golpes na
                        internet.
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>
                        Contato
                    </h5>
                    <p>
                        Para contato envie um email para platcon&#64;gmail.com
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>
                        informações
                    </h5>
                    <p>
                        Criado em 09/2023.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <p>
                        PlatCON 2024
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script crossorigin="anonymous" integrity="sha384-oBqDVmMz4fnFO9gybBogGzOgQpeKBmBin5e1m6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js">
        </script>
    <script crossorigin="anonymous" integrity="sha384-pZfHC6D4h2s5Qd3yY4p6FZ+f5ZL5p6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
        </script>
</body>