<body>
    <div class="header">
        <div class="subtitle">
            Ops, você quase caiu em um
        </div>
        <div class="golpe-container">
            <span class="letter">G</span>
            <span class="letter">O</span>
            <span class="letter">L</span>
            <span class="letter">P</span>
            <span class="letter">E</span>
            <span class="letter">!</span>
        </div>

        <div class="descriptionHeader">
            <p>Mas fique tranquilo(a), aqui você vai aprender como evitar isso.</p>
            <!--<p>Que tal começar vendo um video explicando algumas coisas básicas?</p>-->
        </div>
        <!--<div class="video-body">
            <div class="video-container">
                <div class="video-wrapper">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=u_Xszd89RqT2tTFD"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>-->
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="descriptionHeader" style="text-align: center;">
                <p>Que tal um pouco mais de informação?</p>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <h5>
                        <a routerLink="/researchOne" class="subtitle" style="text-decoration: none;">
                            <img src="/scam_screen.jpg" height="300" width="300" />
                            Os tipos comuns de golpes</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <h5>
                        <a routerLink="/researchTwo" class="subtitle" style="text-decoration: none;">
                            <img src="/detective.jpg" height="300" width="300" />
                            Como identificar um
                            golpe</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <h5>
                        <a routerLink="/researchThree" class="subtitle" style="text-decoration: none;">
                            <img src="/heroes.jpg" height="300" width="300" />
                            O que fazer pra ajudar?</a>
                    </h5>
                </div>
            </div>
            <div class="descriptionHeader" style="text-align: center;"><br/><br/>
                <a routerLink="/analisys" class="subtitle" style="text-decoration: none;">
                    Veja aqui nosso infográfico dos acessos nesse site.</a>
            </div>
            <div class="descriptionHeader" style="text-align: center;"><br/><br/>
                <p style="font-size: xx-large;">Fique Informado!</p><p>Notícias sobre golpes</p>
            </div>
            <div class="col-md-12">
                <div class="news-item">
                    <div class="meta">
                        CNN
                    </div>
                    <h5>
                        <a class="subtitle" style="text-decoration: none;" href="https://www.cnnbrasil.com.br/tudo-sobre/golpes/">Portal da CNN com notícias de golpes
                            no Brasil</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-12">
                <div class="news-item">
                    <div class="meta">
                        Portal R7
                    </div>
                    <h5>
                        <a class="subtitle" style="text-decoration: none;" href="https://noticias.r7.com/e-golpe/">Portal R7 sobre golpes no Brasil</a>
                    </h5>
                </div>
            </div>
            <div class="descriptionHeader" style="text-align: center;">
                <p>Artigos relacionados</p>
            </div>
            <div class="col-md-12">
                <div class="news-item">
                    <div class="meta">
                        Autores: Jefferson David dos Anjos Silva e Maria Vitória Ribas de Oliveira Lima
                        <br />
                        Instituição: Universidade de Pernambuco
                    </div>
                    <h5>
                        <a class="subtitle" style="text-decoration: none;"
                            href="https://www.editorarealize.com.br/editora/anais/conedu/2018/TRABALHO_EV117_MD1_SA19_ID7393_13082018131829.pdf">Os principais cibercrimes praticados no Brasil
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col-md-12">
                <div class="news-item">
                    <div class="meta">
                        Autores: Fabiana Zacarias e Lucas Zacharias Freire
                        <br />
                        Instituição: Estácio
                    </div>
                    <h5>
                        <a class="subtitle" style="text-decoration: none;"
                            href="https://estacio.periodicoscientificos.com.br/index.php/juresvitoria/article/view/1537/1628">Crimes Virtuais: Análise das dificuldades e limitações ao combate</a>
                    </h5>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        Sobre
                    </h5>
                    <p>
                        Essa é uma plataforma de conscientização, pensada a partir de um projeto de conclusão de curso
                        de ciências da computação, com o
                        intuito de ajudar a população brasileira a se conscientizar sobre os perigos dos golpes na
                        internet.
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        Contato
                    </h5>
                    <p>
                        Para contato envie um email para platcon&#64;gmail.com
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        informações
                    </h5>
                    <p>
                        Desde 09/2024.
                        <br>
                        Centro Universitário Nossa Senhora do Patrocínio
                        <br>
                        Salto - SP
                    </p>
                </div>
            </div>
            
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <p class="descriptionHeader">
                    Plataforma Conscientização -  2024
                </p>
            </div>
        </div>
    </div>
    <script crossorigin="anonymous" integrity="sha384-oBqDVmMz4fnFO9gybBogGzOgQpeKBmBin5e1m6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js">
        </script>
    <script crossorigin="anonymous" integrity="sha384-pZfHC6D4h2s5Qd3yY4p6FZ+f5ZL5p6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
        </script>
</body>