<body>
    <div class="header">
        <div class="descriptionHeader">
            <p style="font-size: xx-large;">Que perigos podemos encontrar?</p>
            <p style="font-size: medium;">Você sabe quais são as abordagens que golpistas podem usar pra tentar te
                passar pra trás?</p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <p>A internet, sem dúvida, trouxe inúmeras facilidades para o nosso dia a dia, como o acesso instantâneo a
                informações, compras, serviços bancários e comunicação global. Contudo, ela também se tornou um terreno
                fértil para a atuação de criminosos virtuais. Os golpes online são uma ameaça crescente e, muitas vezes,
                os golpistas se aproveitam da ingenuidade, da pressa ou da confiança das pessoas para aplicar fraudes.
                Portanto, é fundamental desenvolver a habilidade de identificar sinais de golpes online, a fim de se
                proteger contra prejuízos financeiros e danos à segurança pessoal.
            </p>
            <p>
                Aqui reunimos algumas dicas e pontos a se atentar sempre que receber aquele email suspeito, ou
                quando algum conhecido manda uma mensagem falando que trocou de numero e precisa de um dinheiro
                emprestado e
                até
                mesmo o banco te ligando falando de uma compra não autorizada. Veja abaixo o que você deve prestar
                atenção
                antes de fazer qualquer coisa que o possivel golpista esteja te pedindo.
            </p>

            <h5 class="titles">Atenção aos E-mails e Mensagens Suspeitas</h5>
            <p>
                Um dos primeiros sinais de golpe online são e-mails ou mensagens suspeitas. Os golpistas frequentemente
                se passam por empresas confiáveis, como bancos, redes de lojas e serviços online, solicitando que a
                vítima clique em links ou forneça informações pessoais. Eles podem usar frases como "Sua conta foi
                comprometida", "Ação urgente necessária" ou "Clique aqui para confirmar sua identidade". Esses e-mails
                geralmente apresentam erros de português, um tom apressado e links que levam a sites falsificados.
            </p>
            <p>
                Antes de clicar em links ou baixar anexos, verifique o remetente, confirme a autenticidade da mensagem
                através de canais oficiais (como ligar para o banco, por exemplo) e observe sinais de fraudes, como
                erros de português ou URLs suspeitas.
            </p>
            <p>
                Procure também saber como é o comportamento de uma instituição ou pessoa que por ventura venha tem
                abordar.
                Por exemplo,
                os bancos quase nunca irão ligar para você, a não ser em algum caso realmente estranho, e mesmo assim, a
                instituição não pede que você
                confirme seus dados por telefone, o certo em caso de operações bancárias é o usuário ligar para o banco
                ou
                até mesmo ir pessoalmente para garantir
                que a situação é real. Outro exemplo é sempre que receber uma mensagem de alguma pessoa conhecida mas
                que
                tem um número diferente ou pedindo algo estranho, tente
                fazer uma chamada telefônica ou de vídeo com a pessoa, caso ela se recuse é um forte sinal de que pode
                ser
                um golpista se passando por outra pessoa. E sempre que for fazer uma transferência de dinheiro como o
                PIX,
                verifique os dados antes de concluir a transação.
            </p>
            <h5 class="titles">Sites falsos e links duvidos</h5>
            <p>
                Os criminosos frequentemente criam sites falsos que imitam os de empresas confiáveis, como lojas
                virtuais ou
                instituições financeiras. Esses sites fraudulentos podem oferecer promoções irresistíveis ou exigir que
                o
                usuário insira dados sensíveis, como números de cartão de crédito e informações bancárias.
            </p>
            <p>
                Para identificar se um site é verdadeiro ou falso, observe o seguinte:

                URL: Verifique se o endereço começa com "https://" e se há um ícone de cadeado próximo ao link. Embora
                não
                seja uma garantia absoluta de segurança, esses detalhes são importantes.
                Erros de digitação: Sites fraudulentos muitas vezes possuem erros de digitação ou um design de baixa
                qualidade, que não corresponde ao padrão da empresa original.
                Pesquise a reputação do site: Busque avaliações e comentários de outros usuários antes de realizar
                compras
                ou fornecer dados pessoais. Ferramentas como o Google e sites de reputação como o Reclame Aqui podem
                ajudar
                a verificar a autenticidade de um site.
            </p>
            <h5 class="titles">Ofertas ou Promoções Irresistíveis</h5>
            <p>Quando algo parece bom demais para ser verdade, é porque geralmente não é. Golpes como fraudes de
                e-commerce
                e promoções falsas muitas vezes aparecem como ofertas imperdíveis: descontos absurdos, prêmios, sorteios
                ou
                produtos de alta demanda a preços abaixo do mercado. Esses métodos são comuns em golpes de "shopping
                online"
                e podem ser usados para induzir as vítimas a fornecerem dados de pagamento ou realizarem transações em
                sites
                falsificados.
                <br><br>
                Em situações como essa, é importante:
                <br>
                <b>Verificar a procedência:</b> Antes de realizar uma compra, confirme se o vendedor é confiável e se a
                promoção é
                legítima.<br>
                <b>Evitar decisões impulsivas:</b> Golpistas costumam explorar a sensação de urgência. Se você sentir
                pressa,
                desconfie.<br>
                <b>Pesquisar o produto ou serviço:</b> Uma pesquisa rápida sobre a empresa ou oferta pode revelar se há
                reclamações
                de outros consumidores ou se o site está associado a fraudes.
            </p>
            <h5 class="titles">Solicitação de dados pessoais</h5>
            <p>
                Empresas confiáveis nunca pedem informações sensíveis, como números de CPF, senha, ou dados bancários
                via e-mail ou mensagem.
            </p>
            <p>
                Se algo parecer suspeito, encerre o contato com a suposta instituição e entre em contato
                diretamente com a empresa atráves dos numeros oficiais forneceidos através de um site ou o que está
                atras do cartão de crédito para confirmar a veracidade da solicitação.
                Procure sempre estabelecer um contato de duas vias, além de ser informado pela empresa de alguma
                situação irregular que requer dados, tente saber mais sobre a solicitação.
            </p>
            <p>
                Por fim, o que vale é estar informado de como os criminosos agem e sempre desconfiar ao ser contactado por alguém ou
                alguma instituição que ofereça algo bom demais pra ser verdade, pedindo informações sensíveis ou solicitando códigos 
                de acesso (tokens). Se por algum momento você ficar em duvída da veracidade do contato, procure os canais oficiais da instituição 
                e se for outra pessoa se passando por alguém que você conheça, tente confirmar que a pessoa com quem você está falando seja a 
                verdadeira. Ajude as autoridades a impedir as atividades criminosas realizando denuncias atráves dos links disponibilizados AQUI.
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        Sobre
                    </h5>
                    <p>
                        Essa é uma plataforma de conscientização, pensada a partir de um projeto de conclusão de curso
                        de ciências da computação, com o
                        intuito de ajudar a população brasileira a se conscientizar sobre os perigos dos golpes na
                        internet.
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        Contato
                    </h5>
                    <p>
                        Para contato envie um email para platcon&#64;gmail.com
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        informações
                    </h5>
                    <p>
                        Criado em 09/2023.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="descriptionHeader">
                        PlatCON 2024
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script crossorigin="anonymous" integrity="sha384-oBqDVmMz4fnFO9gybBogGzOgQpeKBmBin5e1m6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js">
        </script>
    <script crossorigin="anonymous" integrity="sha384-pZfHC6D4h2s5Qd3yY4p6FZ+f5ZL5p6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
        </script>
</body>