<body>
    <div class="header">
        <div class="descriptionHeader">
            <p style="font-size: xx-large;">O que fazer ao sofrer uma tentativa de golpe?</p>
            <p style="font-size: medium;">Onde posso denuciar esses golpes?</p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <p class="paragraph">Denunciar tentativas de golpe é fundamental para proteger outras pessoas e ajudar a
                combater crimes
                digitais. No Brasil há vários canais oficiais para denunciar fraudes e golpes online, além de manter
                a comunicação com a comunidade para conscientizar outras pessoas, aqui estão os principais canais de
                denucia:</p>
            <h5 class="titles">Polícia Civil</h5>
            <p class="paragraph">O método mais tradicional de denúncia é abrir um boletim de ocorrência em uma
                delegacia, além dos locais
                físicos a denúncia pode ser
                feita pelos telefones:
                </p>

            <div style="text-align: center; padding-bottom: 20px;">
                <b>🚓 Polícia Civil: 197 🚓</b><br>
                <b>📞 Disque Denúncia: 181 📞</b>
            </div>
            <p>
            Também pode ser feita pelos sites, porém, cada estado tem sua pagina de denuncia. Para encontrar
            pesquise no google algo como "site da polícia civil de [seu estado]".
            </p>
            <h5 class="titles">Procon</h5>
            <p class="paragraph">
                Caso o golpe envolva empresas ou produtos fraudulentos, você pode registrar uma reclamação junto ao
                Procon. Ele também atua em casos de serviços ou produtos que não foram entregues conforme prometido.
                <br>
                Denúncia Online: Acesse o site do Procon do seu estado ou município e siga as instruções para registrar
                a denúncia.
            </p>
            <h5 class="titles">Denunciar no site "Denúncia de Fraudes da Internet"</h5>
            <p class="paragraph">
                O "Denúncia de Fraudes da Internet" é um site de utilidade pública onde é possível registrar fraudes
                online.
                <br>
                Acesse: <a href="https://www.denuncie.org.br">denuncie.org.br</a>
                <br>
                Nesse link, você pode denunciar sites falsos, e-mails fraudulentos e outras tentativas de golpe pela
                internet de uma forma simples.
            </p>
            <h5 class="titles">Grupos de redes sociais e sites de reviews</h5>
            <p class="paragraph">
                Além dos métodos legais para realizar uma denuncia, pode ser muito eficaz ajudar a espalhar a informação
                para que mais pessoas fiquem atentas e evitem cair no mesmo golpe. Você pode usar os grupos e
                comunidades das
                redes sociais ou então sites de review como o <a href="https://www.reclameaqui.com.br">Reclame Aqui</a>,
                assim antes de comprar algo ou responder uma
                mensagem
                as pessoas podem pesquisar casos semelhantes.
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        Sobre
                    </h5>
                    <p>
                        Essa é uma plataforma de conscientização, pensada a partir de um projeto de conclusão de curso
                        de ciências da computação, com o
                        intuito de ajudar a população brasileira a se conscientizar sobre os perigos dos golpes na
                        internet.
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        Contato
                    </h5>
                    <p>
                        Para contato envie um email para platcon&#64;gmail.com
                    </p>
                </div>
                <div class="col-md-4">
                    <h5 class="descriptionHeader">
                        informações
                    </h5>
                    <p>
                        Criado em 09/2023.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="descriptionHeader">
                        PlatCON 2024
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script crossorigin="anonymous" integrity="sha384-oBqDVmMz4fnFO9gybBogGzOgQpeKBmBin5e1m6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js">
        </script>
    <script crossorigin="anonymous" integrity="sha384-pZfHC6D4h2s5Qd3yY4p6FZ+f5ZL5p6p6C6owAP+0US8e/0MOzG7EDJH4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js">
        </script>
</body>